@page
@model ASPTrackTracker.Pages.Stats.ArtistStatsModel
@{
}
<!DOCTYPE html>
<html lang="en">

<body>
    <h2><span class="cust-high">Artist</span> Info</h2>
    <form method="get">
        <input asp-for="@Model.Id" value="@Model.Id" type="hidden" />
        <div class="cust-cards">
            <table class="table-stats">
                <tr>
                    <td colspan="6"><h1>@Model.Artist.Name</h1></td>
                </tr>
                <tr>
                    <td><h3>Artist Info</h3></td>
                    <td colspan="2"></td>
                    <td><h3>Avg. Scores</h3></td>
                </tr>
                <tr>
                    <td><strong>Genre: </strong></td>
                    <td>@Model.genreName</td>
                    <td></td>
                    <td><strong>Average: </strong></td>
                    <td>@Model.ReturnScoreOrDash(@Model.AverageScore)</td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>Tracks: </strong></td>
                    <td>@Model.trackAmmount</td>
                    <td></td>
                    <td><strong>Affinity: </strong></td>
                    <td>@Model.ReturnScoreOrDash(@Model.AffinityScore)</td>
                    <td></td>
                    <td><strong>Voices: </strong></td>
                    <td>@Model.ReturnScoreOrDash(@Model.VoicesScore)</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>Creativity: </strong></td>
                    <td>@Model.ReturnScoreOrDash(@Model.CreativityScore)</td>
                    <td></td>
                    <td><strong>Lyrics: </strong></td>
                    <td>@Model.ReturnScoreOrDash(@Model.LyricsScore)</td>
                </tr>
                <tr>
                    <td><a asp-page="../TrackHolders/EditArtist" asp-route-id="@Model.Artist.Id" class="btn btn-danger">Edit Artist</a></td>
                    <td></td>
                    <td></td>
                    <td><strong>Complexity: </strong></td>
                    <td>@Model.ReturnScoreOrDash(@Model.ComplexityScore)</td>
                    <td></td>
                    <td><strong>Instrumental: </strong></td>
                    <td>@Model.ReturnScoreOrDash(@Model.InstrumentalScore)</td>
                </tr>
            </table>
                @if (Model.UserId == 1) //Privilege.
                {
                }
                <div>
                    
                </div>
        </div>
    </form>
</body>
</html>
