@page
@model ASPTrackTracker.Pages.Stats.TrackStatsModel
@{
}
<h1><span class="cust-high">Track</span> Info</h1>
<form method="get">
    <input asp-for="@Model.Id" value="@Model.Id" type="hidden" />
    <div class="cust-cards">
    <table>
        <tr>
            <td>        </td>
            <td>        </td>
        </tr>
        <tr>
            <td><h2 class="cust-marg">@Model.Track.Name</h2></td>
                <td>
                    
                        @if (@Model.Track.Link?.Length > 10)
                        {
                        <h3 class="cust-marg"><a href="@Model.Track.Link" target="_blank">📣</a></h3>
                        }
                        else
                        {
                        <h3 class="cust-marg">🔇</h3>
                        }
                    
                </td>
            <td></td>
            <td><h3>Scores</h3></td>
            <td>Votes: @Model.UsersWhoVoted</td>
            <td><h3>@Model.ScoresPrompt</h3></td>
        </tr>
        <tr>
            <td ><strong>Uploaded by: </strong></td>
                <td class="cust-marg">@Model.User.Name</td>
            <td>        </td>
            <td><strong>Average: </strong></td>
                <td class="cust-marg">@Model.ReturnScoreOrDash(@Model.AverageScore)</td>
            <td><select asp-for="ScoresUserId" asp-items="Model.UsersSelectList" class="form-control"></select> </td>
            <td ><button class="cust-btn" type="submit">Filter</button></td>
        </tr>
        <tr>
            <td><strong>Artist: </strong></td>
            <td>@Model.Artist.Name</td>
            <td>        </td>
            <td><strong>Affinity: </strong></td>
            <td>@Model.ReturnScoreOrDash(@Model.AffinityScore)</td>
            <td>        </td>
            <td><strong>Voices: </strong></td>
            <td>@Model.ReturnScoreOrDash(@Model.VoicesScore)</td>
        </tr>
        <tr>
            <td><strong>Genre: </strong></td>
            <td>@Model.Genre.Name</td>
            <td>        </td>
            <td><strong>Creativity: </strong></td>
            <td>@Model.ReturnScoreOrDash(@Model.CreativityScore)</td>
            <td>        </td>
            <td><strong>Lyrics: </strong></td>
            <td>@Model.ReturnScoreOrDash(@Model.LyricsScore)</td>
        </tr>
        <tr>
            <td><strong>Style: </strong></td>
            <td>@Model.Style.Name</td>
            <td>        </td>
            <td><strong>Complexity: </strong></td>
            <td>@Model.ReturnScoreOrDash(@Model.ComplexityScore)</td>
            <td>                            </td>
            <td><strong>Instrumental: </strong></td>
            <td>@Model.ReturnScoreOrDash(@Model.InstrumentalScore)</td>
        </tr>
        <tr>
            @if (@Model.CheckIfUserPublishedTrack(Model.Track, Model.UserId))
            {
                <td><a asp-page="../Tracks/EditTrack" asp-route-id="@Model.Id" class="btn btn-danger">Edit Track</a> </td>
            }
            <td>        </td>
            <td>        </td>
            <td>        </td>
            @if(await Model.CheckIfUserVotedTrack(Model.Track, Model.UserId)) //Hardocoded User.
            {
                <td><a asp-page="../Tracks/RateTrack" asp-route-id="@Model.Id" class="btn btn-danger">Modify Rating</a></td>
            }
            else{
                <td><a asp-page="../Tracks/RateTrack" asp-route-id="@Model.Id" class="btn btn-danger">Rate</a></td>
            }
        </tr>
    </table>
    </div>
</form>



