@page
@model ASPTrackTracker.Pages.TrackHolders.ArtistsDBModel
@{
    ViewData["Title"] = "Artists Rating";
}
<h1>Artists DB</h1>
<head>
    <style>
        .select :hover {
            cursor: pointer;
        }

        .title {
            text-align: center;
        }

        .tableDBH {
            border-collapse: separate;
            border-spacing: 10px; /* Espacio entre las celdas */
            width: 100%; /* Ancho de la tabla */
            padding: 10px; /* Espaciado alrededor del contenido de las celdas */
            background-color: darkslategray;
            text-decoration: bold;
        }

        .tableDBB {
            border-collapse: separate;
            border-spacing: 10px; /* Espacio entre las celdas */
            width: 100%; /* Ancho de la tabla */
            padding: 9px; /* Espaciado alrededor del contenido de las celdas */
            background-color: lightsteelblue;
            text-decoration: none;
        }
    </style>
</head>
<form method="post">
    <body>
        <h1 class="title">Artists Rating</h1>
        <table class="tableDBH">
            <thead>
                <tr>
                    <th><h2>Artist</h2></th>
                    <th><h2>Genre</h2></th>
                    <th><h2>Style</h2></th>
                    <th><h2>Stat</h2></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th><button type="submit">Filter</button></th>
                    <th><h2><select asp-for="GenreId" asp-items="Model.GenreItems" class="form-control select"></select></h2></th>
                    <th><h2><select asp-for="StyleId" asp-items="Model.StyleItems" class="form-control select"></select></h2></th>
                    <th><h2><select asp-for="SelectedStat" asp-items="Model.StatItems" class="form-control select"></select></h2></th>
                  </tr>
            </thead>
            <tbody class="tableDBB">
                @foreach (var artist in Model.filteredArtists)
                {
                    <tr>
                        <td><strong>@Html.Raw(@Model.filteredArtists.IndexOf(artist)+1)</strong> - @artist.Name</td>
                        <td>@await </td>
                        <td>@track.ArtistName</td>
                        <td>@artist.GenreName</td>
                        <td>@track.StyleName</td>
                        <td title="@track.Voted votes.">@Html.Raw(track.GetScoreByStat(Model.SelectedStat))</td>
                        <td><input type="button" value="View" /></td>

                    </tr>
                }
                @if (Model.filteredArtists.Count < 1)
                {
                    <tr>
                        <td>No artists match current criteria.</td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</form>
<form method="postReset">
    <th><button type="submit">Reset Filters</button></th>
</form>
