@page
@model ASPTrackTracker.Pages.Tracks.RateTrackModel
@{
    ViewData["Title"] = "Rate Track";
}

<h1>Rate Track</h1>
<h3>Rating @Model.Track.Name from @Model.artistName</h3>

<form method="post">
        <table>
            <input type="hidden" asp-for="@Model.alreadyRated" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <tbody>
                <tr>
                    <td><label>Affinity</label></td>
                    <td><input asp-for="valueAffinity" class="form-control" type="number" step="0.1" min="0.1" max="10" style="width: 3rem" /></td>
                    <span asp-validation-for="valueAffinity" class="text-danger"></span>
                    @if (!@Model.Instrumental)
                    {
                        <td><label>Lyrics</label></td>
                    <td><input asp-for="valueLyrics" class="form-control" type="number" step="0.1" min="0.1" max="10" style="width: 3rem;" /></td>
                        <span asp-validation-for="valueLyrics" class="text-danger"></span>
                    }
                </tr>
                <tr>
                    <td><label>Complexity</label></td>
                <td><input asp-for="valueComplexity" class="form-control" type="number" step="0.1" min="0.1" max="10" style="width: 3rem" /></td>
                    <span asp-validation-for="valueComplexity" class="text-danger"></span>
                    @if (!@Model.Instrumental)
                    {
                        <td><label>Voices</label></td>
                    <td><input asp-for="valueVoices" class="form-control" type="number" step="0.1" min="0.1" max="10" style="width: 3rem" /></td>
                        <span asp-validation-for="valueVoices" class="text-danger"></span>
                    }
                </tr>
                <tr>
                    <td><label>Creativity</label></td>
                <td><input asp-for="valueCreativity" class="form-control" type="number" step="0.1" min="0.1 max="10" style="width: 3rem" /></td>
                    <span asp-validation-for="valueCreativity" class="text-danger"></span>
                    @if (!@Model.Choral)
                    {
                        <td><label>Instrumental</label></td>
                    <td><input asp-for="valueInstrumental" class="form-control" type="number" step="0.1" min="0.1" max="10" style="width: 3rem" /></td>
                        <span asp-validation-for="valueInstrumental" class="text-danger"></span>
                    }
                </tr>
            </tbody>
        </table>

    <div class="form-group">
        <input type="submit" class="btn" />
    </div>
</form>
<button onclick="window.history.back()" class="btn btn-primary">Cancel</button>


@if (@Model.Track.Link?.Length > 10)
{
    <h3><a href="@Model.Track.Link" target="_blank">Listen 📣</a></h3>
}
else
{
    <h3>No link 🔇</h3>
}


@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}