@page
@model ASPTrackTracker.Pages.Tracks.TracksDBModel
@{
    ViewData["Title"] = "Tracks Ratings";
}


<h1 class="title"><span class="cust-high">Tracks</span> Ratings</h1>
<strong>@Model.FilterPrompt - Query average: <span class="cust-high">@Model.GetQueryAverage()</span></strong>
<body>
    <form method="get">
        <button class="cust-btn" type="submit">Reset Filters</button>
    </form>
    <form method="get">
        <table class="tableDBH cust-cards">
            <thead>
                <tr>
                    <th></th>
                    <th><h2 class="cust_tabletitle">Track</h2></th>
                    <th><h2 class ="cust_tabletitle">Artist</h2></th>
                    <th><h2 class ="cust_tabletitle">Published by</h2></th>
                    <th><h2 class ="cust_tabletitle">Genre</h2></th>
                    <th><h2 class ="cust_tabletitle">Style</h2></th>
                    <th><h2 class ="cust_tabletitle">Stat</h2></th>
                    <th></th>
                </tr>
                
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <h3>
                            <select asp-for="ArtistId" asp-items="Model.ArtistItems" class="form-control select"></select>
                        </h3>
                    </th>
                    <th>
                        <h3>
                            <select asp-for="UserId" asp-items="Model.UserItems" class="form-control select"></select>
                        </h3>
                    </th>
                    <th>
                        <h3>
                            <select asp-for="GenreId" asp-items="Model.GenreItems" class="form-control select"></select>
                        </h3>
                    </th>
                    <th>
                        <h3>
                            <select asp-for="StyleId" asp-items="Model.StyleItems" class="form-control select"></select>
                        </h3>
                    </th>
                    <th>
                        <h3>
                            <select asp-for="SelectedStat" asp-items="Model.StatItems" class="form-control select"></select>
                        </h3>
                    </th>
                    <th>
                        <button class="cust-btn" type="submit">Filter</button>
                    </th>
                </tr>
            </thead>
            <tbody class="tableDBB">
                @foreach (var track in Model.comparableTracks)
                {
                    <tr>
                        <td>
                            @if (track.Link?.Length > 10)
                            {
                                <a href="@track.Link" target="_blank">📣</a>
                            }
                            else
                            {
                                <p>🔇</p>
                                    }
                        </td>
                        <td>
                            <strong>@Html.Raw(@Model.comparableTracks.IndexOf(track) + 1) - @track.Name</strong>
                        </td>
                        <td>
                            <strong>@track.ArtistName</strong>
                        </td>
                        <td>
                            @track.UserName
                        </td>
                        <td>
                            @track.Genre
                        </td>
                        <td>
                            @track.StyleName
                        </td>
                        <td title="@track.Voted votes.">
                            <strong>@Html.Raw(track.GetScoreByStatAsString(Model.SelectedStat))</strong>
                        </td>
                        <td>
                            @if (await @Model.CheckIfUserVotedTrack(track.ModelId))
                            {
                                <a asp-page="../Stats/TrackStats" asp-route-id="@track.ModelId" class="btn btn-view">View</a>
                            }
                            else
                            {
                                <a asp-page="./RateTrack" asp-route-id="@track.ModelId" class="btn btn-rate">Rate</a>
                            }
                        </td>
                    </tr>
                }
                @if (Model.filteredTracks.Count < 1)
                {
                    <tr>
                        <td colspan="8">No tracks match current criteria.</td>
                    </tr>
                }
            </tbody>
        </table>
    </form>

    
</body>
</html>



















    